<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dashboard</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/style2.css" />
  <link rel="stylesheet" href="/css/navbar.css">
  <script src="/js/index.js"></script>
</head>
<body>
  <%- include('partials/header.ejs') %>
<!-- <div class="sort">
  <div class="collection-sort"><label for="">Filter by:</label><select name="" id="">
      <option value="">All weights</option>
      <option value="">Lace Weight</option>
    </select></div>
  <div class="collection-sort"><label for="">Sort by:</label><select name="" id="">
      <option value="">Brand</option>
      <option value="">Lang Yarns</option>
    </select></div>
</div> -->
<section class="products">
  <% for (var i=0; i<data.length; i++) { %>
  <div class="product-card">
    <div class="product-image"><img src="<%= data[i].ImageURL %>" alt="" /></div>
    <div class="product-info">
      <div class="product-category"><span><%= data[i].Category %></span></div>
      <h4 class="product-name"><%= data[i].Name %></h4>
    <h5 class="product-address"><%= data[i].Address %></h5>
      <h5 class="product-description"><%= data[i].Description %></h5>
      <a href="/prod_details">
        <button class="button button--animated">
          <span class="button__text">View Details !!</span>
          <span class="button__icon">→</span>
      </button>
      </a>
    </div>
  </div>
  <% } %>
</section>
  
</body>
</html>
