<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= product.Name %> - Product Details</title>
    <link rel="stylesheet" href="/css/prodDetails.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <script src="/js/index.js"></script>
  </head>
  <body>
    <%- include('partials/header.ejs') %>

    <div class="container">
      <div class="product-details">
        <div class="product-image">
          <img src="<%= product.ImageURL %>" alt="<%= product.Name %>" />
        </div>
        <div class="product-info">
          <h2 class="product-name"><%= product.Name %></h2>
          <div class="product-category">
            <strong>Category: </strong><%= product.Category %>
          </div>
          <div class="product-address">
            <strong>Address: </strong><%= product.Address %>
          </div>
          <div class="product-description">
            <strong>Description: </strong> <%= product.Description %>
          </div>
          <div class="product-price">
            <strong>Price: </strong> $<%= product.Price %>
          </div>
          <div class="button-container">
            <a href="/dashboard"
              ><button class="button">Back to Listings</button></a
            >
            <button
              class="button"
              onclick="alert('Contacting for more details!')">
              <span class="button__text">Contact Owner</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <style></style>
</html>
